# Qdrant
ia/qdrant_db/
 qdrant_db/
site/qdrant_db/

# Chroma DB (ancien)
ia/chroma_db/

# Python
__pycache__/
*.pyc
*.pyo

# MAMP / environnement local
.env

# VS Code
.vscode/


# VENV
venv/

#pycache

ia/__pycache__/
*.pyc