# Qdrant
ia/qdrant_db/
qdrant_db/
site/qdrant_db/

# Chroma DB (ancien)
ia/chroma_db/

# Python
__pycache__/
*.pyc
*.pyo

# MAMP / environnement local
.env

# VS Code
.vscode/

# VENV
venv/

#pycache
ia/__pycache__/
*.pyc

# Model intention
Add-Content .gitignore "`nia/modele_intention/model.safetensors"
Add-Content .gitignore "ia/modele_intention/optimizer.pt"
Add-Content .gitignore "ia/modele_intention/checkpoint-*"
Add-Content .gitignore "ia/modele_intention/rng_state.pth"
Add-Content .gitignore "ia/modele_intention/scheduler.pt"
Add-Content .gitignore "ia/modele_intention/training_args.bin"