fastapi==0.136.1
uvicorn==0.46.0
python-multipart==0.0.28
ollama==0.6.2
qdrant-client==1.17.1
sentence-transformers==5.4.1
Pillow==12.2.0
rembg==2.0.75
mysql-connector-python==8.3.0
PyMySQL==1.1.3
rapidfuzz==3.14.5
numpy==2.4.4
torch
transformers==5.8.0
setfit==1.1.3
openai-whisper==20250625
python-dotenv==1.2.2
requests==2.33.1
watchfiles==1.1.1