accelerate
aiohttp
datasets
evaluate
fastapi
huggingface_hub
httpx
lingua-language-detector
mysql-connector-python
numpy
ollama
onnxruntime
openai-whisper
pandas
pillow
psutil
pyarrow
pydantic
PyMySQL
python-dotenv
python-multipart
qdrant-client
rembg
requests
scikit-learn
sentence-transformers==3.0.1
setfit
tiktoken
tokenizers
torch
transformers
uvicorn
PyYAML
sentencepiece
rapidfuzz
